@import url('https://cdn.jsdelivr.net/npm/picnic');

.stack {
    border: solid 1px #ccc;
}

#control-and-array {
    width: 75vw;
    margin:
    auto;
    margin-top: 10vh;
    border-left: solid 2px #dbdbdb!important;
    padding-left: 10px!important;
}

.array-container {
    margin:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.bar {
    /* position: relative; */
    flex-grow: 1;
    border: solid black 1px;
    /* margin: 0; */
    /* float: left; */
    background-color: cornflowerblue;
    /* padding: 0; */
    /* transition: left 1s; */
}

#controls{
    padding:0px;
    margin:0px;
}
div#title-box>* {
    margin:0px;
    padding: 0px;
}
div#temp {
    width: 500px;
    height: 500px;
}